<template>
    <div class="bg-grey-light rounded p-6 my-6 mx-6 w-1/4 lg:m-6">
        <div class="flex justify-between pb-4">
            <h2>{{ data.title }}</h2>

            <button class="bg-blue hover:bg-blue-dark text-white font-bold px-4 lg:py-1 lg:px-2 rounded">
                pins
            </button>
        </div>

        <div class="border-t-2 border-blue border-dashed pt-4">
            <span class="inline-block bg-grey-lighter rounded-full px-3 py-1 text-sm font-semibold text-grey-darker">#{{ data.category_title }}</span>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['data'],
    }
</script>