<template>
    <div>
        <new-board @created="add"></new-board>

        <div class="flex flex-col lg:justify-center sm:flex-col lg:flex-row lg:flex-wrap mb-4">
            <board v-for="board in items" :data="board" :key="board.id"></board>
        </div>
    </div>
</template>

<script>
    import NewBoard from './NewBoard';
    import Board from './Board.vue';

    export default {
        components: { NewBoard, Board },

        props: ['data'],

        data() {
            return {
                items: this.data
            }
        },

        methods: {
            add(board) {
                this.items.push(board);
            }
        }
    }
</script>