<template>
    <div class="flex justify-center">

        <div v-if="toggle === 'hide'">
            <button @click="toggleForm('show')" class="bg-blue hover:bg-blue-dark text-white font-bold py-2 px-4 rounded">
                Add A Board
            </button>
        </div>

        <form v-if="toggle === 'show'" method="POST" action="/board" @completed="onSubmit" @submit.prevent="onSubmit" @keydown="form.errors.clear($event.target.name)" class="w-full max-w-md px-8 pt-6 pb-8 mb-4 bg-white shadow-md rounded">

                <div class="flex justify-end w-6 -ml-6 -mt-5 mb-4">
                    <svg class="fill-current h-6 w-6 text-red" role="button" @click="toggleForm('hide')" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><title>Close</title><path d="M14.348 14.849a1.2 1.2 0 0 1-1.697 0L10 11.819l-2.651 3.029a1.2 1.2 0 1 1-1.697-1.697l2.758-3.15-2.759-3.152a1.2 1.2 0 1 1 1.697-1.697L10 8.183l2.651-3.031a1.2 1.2 0 1 1 1.697 1.697l-2.758 3.152 2.758 3.15a1.2 1.2 0 0 1 0 1.698z"/></svg>
                </div>

            <div class="flex flex-wrap -mx-3 mb-6">
                <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                    <label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2" for="title">
                        Title
                    </label>
                    <input v-model="form.title" id="title" name="title" type="text" placeholder="Enter your title..." class="appearance-none block w-full bg-grey-lighter text-grey-darker rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white">

                    <p class="text-red text-xs italic" v-if="form.errors.has('title')" v-text="form.errors.get('title')"></p>
                </div>

                <div class="w-full md:w-1/2 px-3">
                    <label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2" for="link">
                        Link
                    </label>
                    <input v-model="form.link" name="link" id="link" type="text" placeholder="Enter link to board..." class="appearance-none block w-full bg-grey-lighter text-grey-darker rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white">

                    <p class="text-red text-xs italic" v-if="form.errors.has('link')" v-text="form.errors.get('link')"></p>
                </div>
            </div>

            <div class="flex flex-wrap -mx-3 mb-2">

                <div class="w-full md:w-2/3 px-3 mb-6 md:mb-0">
                    <label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2" for="grid-state">
                        Choose a Category
                    </label>
                    <div class="relative">
                        <select v-model="form.category_title" @click="form.errors.clear('category_title')" class="block appearance-none w-full bg-grey-lighter border border-grey-lighter text-grey-darker mb-2 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-grey" id="grid-state">
                            <option v-for="category in categories" v-bind:value="category.title">{{ category.title }}</option>
                        </select>
                        <div class="pointer-events-none absolute pin-y pin-r flex items-center px-2 text-grey-darker">
                            <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
                        </div>
                    </div>
                    <p class="text-red text-xs italic" v-if="form.errors.has('category_title')" v-text="form.errors.get('category_title')"></p>
                </div>

                <div class="w-full md:w-1/3 px-3">
                    <button :disabled="form.errors.any()" v-bind:class="{ 'cursor-not-allowed': form.errors.any() }" class="shadow bg-blue hover:bg-blue-light focus:shadow-outline focus:outline-none text-white font-bold py-4 px-4 mt-5 w-full rounded" type="submit">
                        Save
                    </button>
                </div>

            </div>

        </form>
    </div>
</template>

<script>
    export default {
        mounted() {
            axios.get('/category').then(response => this.categories = response.data);
        },
        data: function() {
            return {
                form: new Form({
                    title: '',
                    link: '',
                    category_title: '',
                }),
                toggle: 'hide',
                categories: [],
            }
        },
        methods: {
            onSubmit() {
                this.form.post('/board')
                    .then(status => this.$emit('created', status));
            },
            toggleForm: function(newState) {
                this.toggle = newState;
                this.form.title = '';
                this.form.link = '';
                this.form.category_title = '';
            },
        }
    }
</script>
